<div class="ao-image-placeholder" style="@((Width != null ? $"width:{Width}px;" : "") + (Height != null ? $"height:{Height}px;" : ""))"></div>

@code {
	[Parameter]
	public int? Width { get; set; }

	[Parameter]
	public int? Height { get; set; }
}
